.inquiry-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    animation: fade-in 4s ease-in-out;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }

  .form-field label {
    font-weight: bold;
  }
  
  .label-field {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .input-field,
  .select-field,
  .textarea-field {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .companies-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    
  }
  
  .company-item {
    width: 20%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .company-logo {
    width: 50%;
    height: auto;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .company-item:hover{
    
    background-color: #d2d1d1;
    transform: scale(1.2);
  }

  .recipient-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .recipient-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .recipient-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .recipient-name {
    font-weight: bold;
  }  
  
  .recipient-item.selected {
    background-color: #007bff;
    color: #fff;
  }
  .recipient-item:hover {
    background-color: #a0ccfb;
    color: #fff;
  }
  
  .choices-list {
    list-style-type: none;
    padding: 0;
  }
  
  .choice-item {
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .choice-item.selected {
    background-color: #00c2a0;
    color: #fff;
  }
  
  .add-choice-btn {
    margin-top: 5px;
    padding: 8px 12px;
    background-color: #00c2a0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .add-choice-btn:hover {
    background-color:  #77f8e0;
  }
  
  .textarea-field {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .submit-btn,
  .save-btn,
  .delete-btn {
    padding: 8px 12px;
    background-color: #fa030b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-btn,
  .submit-btn {
    background-color: #333;
  }
  
  .submit-btn:hover,
  .save-btn:hover,
  .delete-btn:hover {
    background-color: #666;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in-element {
    animation: fade-in 1s ease-in-out;
  }